.background {
  background: linear-gradient(
      90deg,
      rgba(22, 94, 180, 0.9164040616246498) 70%,
      rgba(51, 44, 6, 0.7511379551820728) 100%
    ),
    url(./assets/header-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 15rem;
  color: white;
  position: relative;
}
h1 {
  letter-spacing: 5px;
  position: absolute;
  left: 15%;
  top: 25%;
}
